.flex {
    display: flex;

    &.flex__horizontal {
        flex-direction: row;
    }
}

@mixin flex {
    display: flex;
}

@mixin horizontal-flex {
    @include flex;

    flex-direction: row;
    flex-wrap: nowrap;
}