.container {
    width: 70%;
    max-width: 1366px;
    margin: 0 auto;
}

.content {
    background: #fff;
    box-shadow: $main-box-shadow;

    .section-header, .section-content {
        @include border-bottom;
        padding: ($base-font * 2) ($base-font * 4);
    }
}