$icon-size: 20px;

.icon {
    @include in-middle;
    width: $icon-size;
    height: $icon-size;
    margin-right: $icon-size / 2;

    &.x2 {
        width: $icon-size * 2;
        height: $icon-size * 2;
    }
}