@mixin no-margins-paddings {
    margin: 0;
    padding: 0;
}

@mixin border-bottom {
    border-bottom: 1px solid darken($light-gray, 5%);
}

@mixin in-middle {
  display: inline-block;
  vertical-align: middle;
}

@mixin top_border_radius {
  border-top-left-radius: $main-border-radius;
  border-top-right-radius: $main-border-radius;
}

@mixin for_breakpoint($breakpoints) {
  $conditions: ();
  @each $breakpoint in $breakpoints {
    $conditions: append(
      $conditions,
      #{inspect(map-get($media_queries, $breakpoint))},
      comma
    );
  }

  @media #{$conditions} {
    @content;
  }
}




