a {
    text-decoration: none;
}

small, .small {
    font-size: $small-font;
}

b, strong, .bold {
    font-weight: 700;
}

h1, .h1 {
    font-size: $base-font * 1.8;
}

.tiny-title {
    font-size: $small-font;
    text-align: center;
    margin: $base-font auto;
}