/*
- Colors
- Texts
- Styles
- Media-queries


*/

//colors

$light-gray: #f6f5f6;
$medium-gray: #42434f;
$red: #e23443;
$white: #fff;

//texts
$primary-font: 'Lato', sans-serif;

$base-font: 1.0rem;
$tiny-font: $base-font * .7;
$small-font: $base-font * .9;
$big-font: $base-font * 1.2;
// $greater-font: $base-font * 1.5;

//styles
$main-border-radius: 3px;
$main-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);

//Media-queries (breakpoints)
$media_queries: (
  "mobile": only screen and
    (
      max-width: 667px
    ),
  "tablet": only screen and
    (
      max-width: 959px
    ),
  "desktop": only screen and
    (
      min-width: (
        960px
      )
    )
);