<template>
  <div class="container">
      <div class="content">
          <header class="section-header">
            <h1>Nenhum resultado para <span class="bold">“Oruo”</span></h1>
          </header>
          <div class="section-content">
            <div v-if="loading">Carregando...</div>
            <small class="suggested-title">Pesquisas sugeridas</small>
            <ul id="suggested-search" class="search-list">
                <li v-for="(suggestedItem, key) in suggestedItems" v-bind:key="key">
                    <a :href="suggestedItem.url || '/search?q='+suggestedItem.q">
                      <SearchIcon class="icon" />
                      {{suggestedItem.q}}
                    </a>
                </li>
            </ul>
          </div>
      </div>

    <Recommendations></Recommendations>

  </div>
</template>

<script>
import axios from 'axios';
import Recommendations from '../cardset/Recommendations';
import SearchIcon from '../../assets/svg/search.svg';

export default {
  name: 'SearchResults',
  components: {
      Recommendations,
      SearchIcon
  },
  data() {
      return {
          suggestedItems: [],
          loading: true,
          error: false
      }
  },
  mounted () {
      axios
      .get('https://publifiles.s3.amazonaws.com/searchapi/autocomplete.json')
      .then(results => {
          this.suggestedItems = this.randomItems(results.data);
          this.loading = false;
      })
      .catch(() => this.error = true);
  },

  methods: {
      randomItems (items) {
        const shuffle = items.sort(() => .5 - Math.random());
        return shuffle.slice(0,7);
    }
  }
}
</script>

<style lang="scss" scoped>
.suggested-title {
  color: lighten($medium-gray, 20%);
}
.search-list {
    margin-top: $base-font;

    svg {
        transition: fill .6s ease;
    }

    a {
        color: $medium-gray;
        font-size: $small-font;
        padding: ($base-font * .7) 0;
        display:block;
        transition: color .6s ease;

      &:hover {
        color: $red;

        svg{
          fill: $red;
        }
      }
    }
}

</style>