<template>
  <SearchResults></SearchResults>
</template>

<script>
import SearchResults from './container/SearchResults';
export default {
  name: 'Main',
  props: {
    msg: String
  },
  components: {
    SearchResults
  }
}
</script>
