<template>
    <section>
        <h2 class="tiny-title">Confira abaixo algumas recomendações especialmente 
            selecionadas para voce:</h2>

        <div class="cardset" v-if="items">
            <article class="cardbox" v-for="(item, key) in items" v-bind:key="key">
                <div v-if="item.show">
                    <figure class="card-image-mask">
                        <img :src="item.thumb" :alt="item.tag.label" />
                        <figcaption class="card_category">
                            {{item.category}}
                        </figcaption>
                    </figure>
                    <div class="card_content">
                        <h3 class="card-title">{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
</template>

<script>
import axios from 'axios';


export default {
  name: 'Recommendations',

  data() {
      return {
          items: [],
          error: false,
          loading: true
      }
  },

  mounted() {
      axios
      .get('https://publifiles.s3.amazonaws.com/ljal/showcase-sugerido.json')
      .then(results => this.items = results.data.slice(0,3))
      .catch(() => this.error = true);
  }
}
</script>

<style lang="scss" scoped>

.tiny-title {
    font-size: $base-font;
    margin-top: $base-font * 2.5;
    margin-bottom: $base-font * 1.5;
}

.cardset {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  @include for_breakpoint(tablet) {
       flex-direction: column;
    }
  
    .cardbox {
        width: 32%;
        margin: 0 auto $base-font;
        border-radius: $main-border-radius;
        box-shadow: $main-box-shadow;
        position: relative;
        background: $white;

         @include for_breakpoint(tablet) {
            width: 100%;
        }
    }
}


.card-title {
    font-size: $big-font;
    line-height: $big-font * 1.2;

    @include for_breakpoint(tablet) {
        margin-top: 0;
    }
}

.card-image-mask {
    @include top_border_radius;
    overflow: hidden;
    height: 170px;
    width: 100%;
    position: relative;
    background: $medium-gray;

    @include for_breakpoint(tablet) {
        width: 50%;
        @include in-middle;
    }

    @include for_breakpoint(mobile) {
        width: 100%;
    }

    img {
        //retro
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
        margin: auto;
    }

    .card_category {
        position: absolute;
        z-index: 1;
        background: rgba(0,0,0,.4);
        color: $white;
        padding: 5px $tiny-font;
        font-size: $tiny-font;
        top: $base-font;
        left: $base-font;
    }
}

.card_content {
    display: block;
    padding: $big-font;

    p {
        font-size: $small-font;
        line-height: $small-font * 1.5;
        color: lighten($medium-gray, 30%);
        letter-spacing: .02rem;
        word-spacing: .05rem;
        margin-top: $base-font;
    }

    @include for_breakpoint(tablet) {
        width: 50%;
        @include in-middle;
    }

    @include for_breakpoint(mobile) {
        width: 100%;
    }
}

</style>