<template>
  <header class="header">

      <div class="container">
        <div class="search-area">
          <Search />
        </div>

        <div class="notifications-area">
          <a href="#" class="offer"><CartIcon class="icon"/> Ofertas</a>
          <div class="news">
            <button id="notifications" class="bell naked-btn">
              <BellIcon class="icon" />
            </button>
          </div>
          
        </div>

        </div>
      <div>
    </div>
  
  </header>

</template>

<script>
import Search from '../forms/Search';
import CartIcon from '../../assets/svg/cart.svg';
import BellIcon from '../../assets/svg/bell.svg';

export default {
  name: 'Header',
  components: {
    Search,
    CartIcon,
    BellIcon
  }
}
</script>

<style lang="scss" scoped>

  .search-area {
    align-self: center;
    flex-grow: 1;
}

  .news {
    @include in-middle;
  }

  .offer {
    padding: $base-font;
    display: inline-block;
    color: $red;
    margin-right: $base-font;
    .icon {
      fill: $red;
    }
  }

  .header {
    @include border-bottom;

    > .container {
      display: flex;
      padding: $small-font 0;
    }
    

    .header_offer {
      color: $red;
      font-family: $primary-font;
    }
  }

  


</style>