<template>
  <div id="app">
    <Header />
    <Main msg="Empiricus"/>
  </div>
</template>

<script>
import Main from './components/Main.vue';
import Header from './components/template/Header.vue';

export default {
  name: 'app',
  components: {
    Main,
    Header
  }
}
</script>

<style lang="scss">
  @import './assets/scss/main';
</style>

