<template>
    <form action="" class="search">
        <input type="text" class="search_input" placeholder="Pesquisar conteúdo" id="header-search" />
    </form>
</template>

<script>
export default {
  name: 'Search'
}
</script>

<style lang="scss" scoped>
  .search {
    position: relative;
    &:before {
        position: absolute;
        // content: ' ';
        content: url('../../assets/svg/search.svg?inline');
        width: 30px;
        height: 30px;
        top: 9px;
        left: $base-font * 1.5;
        
      }

    .search_input {
      color: $red;
      background: #fff;
      border: darken($light-gray, 5%) 1px solid;
      border-radius: $main-border-radius;
      padding: {
        top: $base-font;
        bottom: $base-font;
        right: $base-font;
        left: $base-font * 4.5;
      }
      width: 50%;

      
    }
  }

</style>